.banner__title{
    color: rgb(231, 231, 231);
    font-family: Pacifico, cursive;    
    left: 50%;
    position: absolute;
    top: 50%;
    text-align: center;
    text-shadow: 0px 2px 2px black;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (min-width:0){
    .banner__title{
        font-size: 3rem;
    }
}
@media screen and (min-width:768px){
    .banner__title{
        font-size: 5rem;
    }
}